<!-- <div class="col-12">
    <div class="bg-black shadow-soft border-light px-4 py-1 mb-6">
        <div class="card-body text-center text-md-left">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="mb-3" style="color: rgb(68, 68, 68);">Become one of us</h1>
                    <p id="typing-text" class="mb-4">Do you want to join our team and work remotely from anywhere you'd like? We can’t wait to hear from you!</p>
                    <a href="#" class="btn btn-primary"><span class="mr-1"><span class="fas fa-file-invoice"></span></span>Check Careers</a>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right banner-content">
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="col-12">
    <div class="bg-black shadow-soft border-light px-4 py-1 mb-6">
        <div class="card-body text-center text-md-left">
            <div class="row align-items-center">
                <div class="col-md-6 ">
                    <div class=" p-4" style="background-color: rgba(39, 39, 39, 0.342);" >
                    <h1 class="mb-3" style="color: rgba(255, 187, 0, 0.61);">Join Our Team at MultiUniversal</h1>
                    <p id="typing-text"  class="mb-3">Discover the future of robotics with MultiUniversal.</p>
                    <a href="#" class="btn btn-primary"><span class="mr-1"><span class="fas fa-file-invoice"></span></span>Join</a>
                    <p class="mt-4">Are you passionate about robotics and innovation? Join our team at MultiUniversal and work remotely from anywhere in the world. We are looking for talented individuals who thrive in a collaborative environment. Explore exciting opportunities with us!</p>

                </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right banner-content">
                </div>
            </div>
        </div>
    </div>
</div>





<!-- <div class="col-12 ">
    <div class=" bg-black shadow-soft border-light px-4 py-1 mb-6">
        <div class="card-body text-center text-md-left">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2 class="mb-3">Become one of us</h2>
                    <p class="mb-4">Do you want to join our team and work remotely from anywhere you'd like? We can’t
                        wait to hear from you!</p><a href="#" class="btn btn-primary"><span class="mr-1"><span
                                class="fas fa-file-invoice"></span> </span>Check Careers</a>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right banner-content ">                
                </div>
            </div>
        </div>
    </div>
</div> -->