<!-- <footer>
    <p>&copy; 2024 MyApp. All rights reserved.</p>
  </footer>
   -->

   <footer class="footer">
    <div class="container">
      <!-- Image Section -->
      <div class="row ">
        <div class="col-4 text-center ">
          <img src="assets/darkblackyellowrobot.png" alt="Footer Image" class="footer-image">
        </div>
        <div class="col-4 text-center">
          <img src="assets/womenrobot.png" alt="Footer Image" class="footer-image">
        </div>
        <div class="col-4 text-center">
          <img src="assets/yellowrobot.png" alt="Footer Image" class="footer-image">
        </div>
      </div>
      
      <!-- Content Sections -->
      <div class="row">
        <div class="col-md-4 footer-section">
          <h5>About MultiUniverse</h5>
          <p>MultiUniverse is a platform that allows you to explore and connect with multiple virtual worlds. Join us and discover the endless possibilities!</p>
        </div>
        <div class="col-md-4 footer-section">
          <h5>Quick Links</h5>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4 footer-section">
          <h5>Contact Us</h5>
          <!-- <p>Email: info@multiuniverse.com</p> -->
          <p>Phone: +1 234 567 890</p>
          <div class="social-icons">
            <a href="#"><i class="pi pi-facebook"></i></a>
            <a href="#"><i class="pi pi-twitter"></i></a>
            <a href="#"><i class="pi pi-instagram"></i></a>
          </div>
        </div>
      </div>
      
      <!-- Copyright Section -->
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2024 MultiUniverse. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  
  