<!-- <nav>
    <a style="margin-left: 12px;" href="#">Home</a>
    <a href="#">header</a>
    <a href="#">Banner</a>
    <a href="#">Features</a>
    <a href="#">Footer</a>
</nav> -->

<nav>
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
      <span class="logo-text" style="color: rgb(122, 122, 122);">MULTIUNIVERSE</span>
    </div>
    <div class="nav-links">
      <a pageScroll href="#youtube">Youtube</a>
      <a pageScroll href="#header">Home</a>
      <a pageScroll href="#banner">Join</a>
      <a pageScroll href="#features">Features</a>
      <a pageScroll href="#loginpage">Details</a>
      <a pageScroll href="#footer">Contact</a>
      
    </div>
  </nav>
  
  

<!-- <nav>
    <a (click)="navigateTo('home')" style="margin-left: 12px; cursor: pointer;">Home</a>
    <a (click)="navigateTo('header')" style="cursor: pointer;">Header</a>
    <a (click)="navigateTo('banner')" style="cursor: pointer;">Banner</a>
    <a (click)="navigateTo('features')" style="cursor: pointer;">Features</a>
    <a (click)="navigateTo('footer')" style="cursor: pointer;">Footer</a>
</nav> -->