<div class="features">
  <div class="container mt-5 p-8">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4 d-flex">
        <div class="glass-tile flex-fill">
          <div class="icon-container">
            <i class="pi pi-globe"></i>
          </div>
          <h5>Explore New Worlds</h5>
          <p>Discover a vast array of virtual worlds and immerse yourself in unique experiences.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 d-flex">
        <div class="glass-tile flex-fill">
          <div class="icon-container">
            <i class="pi pi-users"></i>
          </div>
          <h5>Connect with Others</h5>
          <p>Join a community of like-minded individuals and share your adventures.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 d-flex">
        <div class="glass-tile flex-fill">
          <div class="icon-container">
            <i class="pi pi-cog"></i>
          </div>
          <h5>Customize Your Experience</h5>
          <p>Personalize your virtual presence and make your mark in the MultiUniverse.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 d-flex">
        <div class="glass-tile flex-fill">
          <div class="icon-container">
            <i class="pi pi-wallet"></i>
          </div>
          <h5>Earn and Trade</h5>
          <p>Engage in the virtual economy by earning and trading digital assets.</p>
        </div>
      </div>
    </div>
  </div>
  

  </div>
  

<!-- 
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="tile">
                <div class="tile-icon">
                    <i class="fas fa-cog"></i>
                </div>
                <h3>Tile 1</h3>
                <p>Content for tile 1.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="tile">
                <div class="tile-icon">
                    <i class="fas fa-user"></i>
                </div>
                <h3>Tile 2</h3>
                <p>Content for tile 2.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="tile">
                <div class="tile-icon">
                    <i class="fas fa-chart-bar"></i>
                </div>
                <h3>Tile 3</h3>
                <p>Content for tile 3.</p>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="tile">
                <div class="tile-icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <h3>Tile 4</h3>
                <p>Content for tile 4.</p>
            </div>
        </div>
    </div>
</div> -->

  
  