<div class="header-content">
  <h3 class="flex justify-content-center align-iten-center" style="font-size: 3.5rem; color: rgb(255, 196, 0); margin-top: 20rem;">Welcome to MultiUniverse</h3>
  <div class="header-buttons">
      <button class="btn-neumorphic"><span>Get Started</span></button>
      <button class="btn-neumorphic"><span>Learn More</span></button>
  </div>
</div>


<!-- <div class="header-content">
    <h1 style="font-size: 5rem;color: rgb(255, 255, 255);margin-top:5rem;">Welcome to MyApp</h1>
    <div class="header-buttons">
      <button class="btn-neumorphic"><span>Get Started</span></button>
      <button class="btn-neumorphic"><span>Learn More</span></button>
    </div>
  </div>
   -->